<div class="my-3">
    <h2>Add your Task</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" [(ngModel)]="title" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description:</label>
          <input type="text" class="form-control" [(ngModel)]="desc" id="desc" name="desc">
        </div>
        <button type="submit" class="btn btn-primary">Add to todo</button>
      </form>
      <hr class="mb-4">
</div>

